:root {
    --background-color: #FFFFFF; /* White */
    --primary-color: #333333;    /* Charcoal Gray (60%) */
    --secondary-color: #008080;  /* Teal (30%) */
    --accent-color: #FFD700;     /* Gold (10%) for an additional accent if desired */
    --text-color: #333333;       /* Charcoal Gray */
}


*{
    margin: 0;
    padding: 0;
    font-family: 'roboto','poppins', 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--secondary-colorr);
    color: var(--background-color);
}

.button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 2px solid var(--accent-color);
}

.button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}


#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/back.jpg);
    background-size: cover;
    background-position: center; */
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.logo{
    width: 140px;
    color: var(--secondary-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 2px 2px #000000 ; */
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: var(--secondary-color);
}
.header-text p{
    margin: 5px 0 0 0;
    font-size:26px;
}

.header-text p span{
    letter-spacing: 1px;
    color: var(--text-color);
    border-bottom: 2px solid var(--accent-color);
}

/* --------------------------About----------------------- */

.sub-title{
    color: var(--secondary-color );
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#about{
    padding: 80px 0px;
    color: var(--text-color);
}

.container .para-about{
    color: var(--text-color);
    font-size: 18px;
    text-align: justify;
    /* border-bottom: 1px solid var(--primary-color); */
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    position: relative;
    display: block;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents{
    margin: 40px 5px 40px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ---------------------------------------------Swiper------------------------------------------------- */

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: column;
    min-height: 250px;
    padding: 20px 20px 5px 20px;
    border-radius: 8px;
    background: var(--background-color);
    border: 1px solid var(--secondary-color);
    transition: background 1s;
}

.card-list .card-item:hover{
    background-color: var(--accent-color);  
}

.title-name{
    color: var(--text-color);
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
}

.title-description{
    text-align: justify;
    font-size: 18px;
}

.slider-wrapper .swiper-pagination-bullet{
    background: var(--secondary-color);
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: var(--primary-color);
    margin-top: -50px;
    transition: 0.2 ease;
}

.slider-wrapper .swiper-slide-button:hover{
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button{
        display: none;
    }
}


/* -----------------------------------Swiper End-------------------------------------------- */

/* ------------------Services--------------------------- */
#services{
    padding: 15px 0px 30px 0px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #f8f8f8;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 100;
    margin-top: 15px;
    display: inline-block;
}

.services-list div:hover{
    background: var(--accent-color);
    transform: translateY(-10px);
}

/* --------------------Portfolio-------------------------- */

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    align-content: baseline;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(var(--background-color),var(--accent-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 1s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin: 20px auto 0;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: var(--background-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}

.btn:hover{
    background: var(--accent-color);
}


@media only screen and (max-width: 600px) {
    .work{
        height: 250px;
    }

    .layer h3{
        font-weight: 500;
        margin-bottom: 15px;
    }
} 
/* ------------------------Contact----------------------------- */
.row1{
    display: flex;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: var(--text-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin: 30px 10px 0;
    color: #ababab;
    display: inline-block;
}

.social-icon a:hover{
    color: var(--accent-color);
    transform: translate(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: va(--background-color);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--background-color);
    padding: 25px;
    margin: 15px 0;
    color: var(--text-color);
    font-size: 18px;
    
}

form input:hover, textarea:hover{
    border-bottom: 1px solid var(--secondary-color);

}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:var(--background-color);
    font-weight: 300;
    border-top: 1px solid black;
}

.copyright a{
    color: var(--text-color);
}


/* --------- Media Query----------------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px) {
    body,head{
        padding: 0;
        margin: 0;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--accent-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 30px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 51px;
    }
    .row1{
        flex-direction: column;
    }
    
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: 61b752;
    margin-top: -40px;
    display: block;
}
